<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ControladorAgencias</servlet-name>
        <servlet-class>Controladores.ControladorAgencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleados</servlet-name>
        <servlet-class>Controladores.ControladorEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRutas</servlet-name>
        <servlet-class>Controladores.ControladorRutas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAgencias</servlet-name>
        <url-pattern>/ControladorAgencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleados</servlet-name>
        <url-pattern>/ControladorEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRutas</servlet-name>
        <url-pattern>/ControladorRutas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
